.a {
  color: pink;
}

h1 {
  color: brown;
}

.p {
  color: aqua;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #741188;
  padding: 0 2rem;
}
